body{
    background-color: #C3F339;
    font-family:'serif';
}

footer,nav{
    background-color: aqua;
}


input[type=text], input[type=email], input[type=number],
input[type=date], select, textarea{
    display:block;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 30%;
    padding: 10px;
    border-radius:5px;
    border:1px solid black;
}

input[type=submit] {
    margin-bottom: 20px;
    width:20%;
    padding: 10px;
    border-radius:5px;
    border:1px solid black;
    background-color: blue;
    color: aliceblue;
    font-size:15px;
    cursor:pointer;
    }

input[type=submit]:hover {
    background-color: green;
    }



    




